.hotel-name{
color: #0e45a1;
font-weight: bold;

}
.icon{
    display: inline-block;
    width: 25px;
    height: 25px;
    padding-bottom: 5px;
    padding-top: 5px;
    
}

.amenites{

    display: inline-block;
    width: 100%;
}
.stars{
    filter: invert(80%) sepia(82%) saturate(389%) hue-rotate(350deg) brightness(100%) contrast(105%);

    display: inline-block;
    width: 100%;

}
.img-hotel{
    height: 100px;
    
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.hotel-details{
    
    margin-left:auto ;
      
    margin-right:auto ;
    background-color: #FFFFFF;
    border-style: solid;
    border-color: #EEEEEE;;
    
}

.view-details{
color: white;
background-color:  #0e45a1;
width: 90%;
}
.price{

color: #D5A043;
border-left: dotted #EEEEEE; 
text-align: center;
font-size:25px;
}
.price-value{
    
    font-weight: bold;
    color:#EF9C2A;

}
.mutted{
    font-size: 15px;
    color: #CFCFCF;
}

@media (max-width:700px){
    .mutted{
        font-size: 13px;
       
    }
    .price{
        border-left-style: none;
        border-top: dotted #EEEEEE; 
        text-align: center;
        font-size:25px;
        }
        .icon{
            display: inline-block;
            width: 27px;
            height: 27px;
            padding-bottom: 5px;
            padding-top: 5px;
            
        }
        

}
