<div class="row hotel-details container">
    <div class="col-sm  col-lg  ">
        <img  src="./assets/images/hotels/{{hotel.image}}" class=" img-fluid rounded mx-auto d-block" >
    </div>
    <div class="col-sm ">
        <div class="row hotel-name"> <h2>{{hotel.name}}</h2></div>
 
        <div class="row stars" >
            <i *ngFor = "let amenite of numStarts(hotel.stars) " >  <img  class="start-icon icon " src="./assets/icons/filters/star.svg" alt="" > </i> 
        </div>
        <div class="row amenites"> <i *ngFor = "let amenite of hotel.amenities  ">  <img   class="amenite-icon icon" src="./assets/icons/amenities/{{amenite}}.svg" alt="" > </i> </div>
    </div>
    
    <div class=" price col-sm col col-lg-2" >
        <div class="row mutted"> <p>Precio por noche por habitación</p>
        </div>
        <div class="row"> 
        <p class="price-text">ARS <span class="price-value">{{hotel.price}} </span> </p>

    </div>
    <input class="btn  view-details" type="button" value="Ver hotel">
    </div>
    
 
    

    
    


</div>
