.header-brand{
    background-color: #0e45a1;


}
.aviatur-logo{
    width:150px ;
    height:25px;

}

@media (max-width:700px){
    .brandimage  {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .aviatur-logo{
        width:200px ;
        height:40px;
        
    }
    

}