


<div class="navbar navbar-dark header-brand navbar-expand">
  <div class="container brandimage ">
      <div class="col ">
      <img src="./assets/images/logo-aviatur.svg" alt="Aviatur-logo"  class ="aviatur-logo"  >
    </div>
  </div>
</div>