<div class="row  menufilter ">
    <div class="col col-lg-3 col-sm container-sm ">
<app-filter-bar  (searchInput)="handleSearch($event)"   (searchStars)="handleStar($event)" class="col col-lg-3 col-sm"> </app-filter-bar>
</div>
<div class=" col-sm" >


  <div class="row">
 <app-hotel   *ngFor= "let hotel of hotels|searchertext:filterTextValue  " [hotel]="hotel "> </app-hotel> 
</div> 
</div>
</div>