<div class="sidebar col ">
<h1 class="filter-text">Filtro</h1>
<div class="menu-button"> 
    
    <button type="button"  (click)="toogleMenu()" class="  filter-menu-button"> <img src="./assets/icons/filters/filtar.svg" alt="" >  Filtrar</button>

</div>

<div  *ngIf="showSideBar" class="menu-elements container">

 <div class="row  title-filter "> 
  <div class="col-2">  <mat-icon matSuffix>search</mat-icon>  </div>
  <div class="col-8">  <p> Nombre del hotel</p></div> 
 </div>

<div class="row  filter-items "> 
<div class="col">  <mat-icon matSuffix>hotel</mat-icon>  </div>
<div class="col">
  <form class="">
    <mat-form-field appearance="outline" class="example-full-width"> 
 
      <mat-label> Hotel</mat-label>
      <input [formControl]="searchInput" matInput placeholder="Busca Por Nombre De Hotel">
    
 
    </mat-form-field>

  </form>
  
</div>
</div>
<div class="content-filter">
<div class="row  title-filter "> 
  <div class="col-2 ">  <mat-icon matSuffix>star</mat-icon>  </div>
  <div class="col-8">  <p> Estrellas</p></div> 
 </div>
</div>
 <div class=" stars row filter-items">

  <div class="row">
  


    <div class="col">
    <button (click)="filterbystars(0)" mat-raised-button color="basic"> <mat-icon matSuffix>check</mat-icon>  Seleccionar todas las estrellas</button>
  </div> 
  </div>
  

  <div>
    
    <input (click)="filterbystars(1)" type="checkbox" id="1" name="rating" value="1" >
    <i *ngFor = "let amenite of numStarts(1) " >  <img  class="star-icon icon " src="./assets/icons/filters/star.svg" alt="" > </i> 
  </div>
  
  <div>
    <input  (click)="filterbystars(2)" type="checkbox" id="2" name="rating" value="2" >
    <i *ngFor = "let amenite of numStarts(2) " >  <img  class="star-icon icon " src="./assets/icons/filters/star.svg" alt="" > </i> 
  </div>
  <div>
    <input (click)="filterbystars(3)" type="checkbox" id="3" name="rating" value="3" >
    <i *ngFor = "let amenite of numStarts(3) " >  <img  class="star-icon icon " src="./assets/icons/filters/star.svg" alt="" > </i> 
  </div>
  <div>
    <input (click)="filterbystars(4)" type="checkbox" id="4" name="rating" value="4" >
    <i *ngFor = "let amenite of numStarts(4) " >  <img  class="star-icon icon " src="./assets/icons/filters/star.svg" alt="" > </i> 
  </div>
  <div>
    <input (click)="filterbystars(5)" type="checkbox" id="5" name="rating" value="5" >
    <i *ngFor = "let amenite of numStarts(5) " >  <img  class="star-icon icon " src="./assets/icons/filters/star.svg" alt="" > </i> 
  </div>
</div>
</div>

</div>