.sidebar{ 
    width: 300px;
    border-style: solid;
    border-color: #EEEEEE;
    height: 100%;
    overflow: auto;
    color: #adadad;
}
.title-filter{
    width: 400px;
padding: 30px;
height: auto;
 border-bottom-style: solid;
 border-color: #EEEEEE;
 border-top-style: solid;

 color: black;



}

.star-icon{
    padding-left: 5px;
    width: 30px;
    height: 30px;

        filter: invert(80%) sepia(82%) saturate(389%) hue-rotate(350deg) brightness(100%) contrast(105%);


}
.content-filter{
padding-bottom: 15 px;
padding-top: 15 px;
}

.stars input {
    width: 15px;
    height: 15px;
}
.filter-menu-button{

    display: none;

}

.example-full-width{
width: 100%;



}
.filter-items{
    padding-top: 51px;
    padding-bottom: 51px;
}
.menu-elements

{   
    width: 100%;
      background-color: white  ;

    padding-left: 20px;
    padding-right: 30px;

}
@media (max-width:700px){

    .sidebar{  margin: 0;
        padding: 5px;
        width: 100%;
  
   
    
    }
    .filter-text{
        display: none;
    }
    .filter-menu-button {
        width: 100%;
        background-color: #ffffff;

        box-shadow: 0 10px 10px -10px #b8b8b8 ;
        color: #0d47a1;
        padding: 15px 32px;
        text-align: left;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }


}

